.tools-panel {
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    width: 450px;
    position: fixed;
    top: 10px;
    left: 50%;
    margin-left: -225px;
    background-color: #555555;
    border-radius: 10px;
    overflow: hidden;
}
.tools-panel .button:not(:last-of-type):after {
    content: '';
    display: inline-block;
    width: 1px;
    height: 20px;
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -10px;
    background-color: #999999;

}

.tools-panel .button {
    color: #cccccc;
    padding: 5px 10px;
}
.tools-panel .button:hover {
    background-color: #737373;
}

.tools-panel .button span{
    font-size: 10px;
    color: #737373;
    font-weight: normal;
    font-style: normal;
}

.tools-panel div {
    display: inline-block;
    height: 23px;
    overflow: hidden;
}

.tools-panel svg {
    margin-top: 3px;
    fill: #cccccc;
    width: 18px;
}

.tools-panel .header-button {
    font-size: 19px;
    font-weight: bold;
}

.tools-panel .bold-button {
    font-weight: bold;
}

.tools-panel .italic-button {
    font-style: italic;
    font-family: "Times New Roman", serif;
}

@media(max-width: 1000px) {
    .tools-panel{
        flex-direction: column;
        width: 50px;
        height: auto;
        top: 42px;
        right: 5px;
        left: auto;
        background-color: transparent;
    }

    .tools-panel .button svg {
        fill: #737373;
    }

    .tools-panel .button {
        color: #737373;
    }

    .tools-panel .button:hover {
        background-color: transparent;
    }

    .tools-panel .button::after {
        display: none !important;
    }
    
    .tools-panel .button span {
        color: #a7a7a7;
    }
}