.google-auth-modal{
    min-width: 350px;
    min-height: 130px;
}

.google-login-button {
    display: block;
    text-decoration: none;
    height: 40px;
    min-width: 220px;
    padding: 0 24px 0 42px;
    margin: 30px 50% 0;
    transform: translateX(-50%);
    border-width: 0;
    background: white url(../../../images/google-icon.png) 8px 8px no-repeat;
    background-size: 27px;
    color: #737373;
    border-radius: 5px;
    white-space: nowrap;
    box-shadow: 1px 1px 0 1px rgba(0, 0, 0, .05);
    transition-property: background-color, box-shadow;
    transition-duration: 150ms;
    transition-timing-function: ease-in-out;
    font-family: 'Roboto', arial, sans-serif;
    vertical-align: middle;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
}

.google-login-button:focus,
.google-login-button:hover {
    box-shadow: 1px 4px 5px 1px rgba(0, 0, 0, .1);
}

.google-login-button:active {
    background-color: #e5e5e5;
    box-shadow: none;
    transition-duration: 10ms;
}

.google-auth-modal .button {
    position: absolute;
    bottom: 20px;
    right: 20px;
}