{
    "extends": ["react-app", "prettier"],
    "plugins": ["prettier"],
    "rules": {
        "jsx-quotes": [
            1,
            "prefer-double"
        ],
        "prettier/prettier": "error"
    }
}
