.sidebar .file-list-item {
    display: block;
    width: 100%;
    text-transform: none;
    text-align: left;
    padding: 10px 10px 10px 16px;
}

.sidebar .file-list-item.current {
    border-left: 4px solid dodgerblue;
    padding-left: 10px;
}

.sidebar .file-list-item:hover {
    background-color: #e5e5e5;
}

.sidebar .add-new-item {
    text-align: center;
    font-size: 20px;
}