.button {
    position: relative;
    border: none;
    display: block;
    background-color: transparent;
    transition: background-color 170ms;
    padding: 10px;
    cursor: pointer;
    color: #737373;
    text-transform: uppercase;
    font-size: 15px;
    font-family: inherit;
    font-weight: inherit;
    overflow: hidden;
}

.button:hover {
    background-color: rgba(242, 242, 242, 0.6);
}

.button.is-expandable {
    height: 35px;
    transition: all 170ms;
}

button.is-expandable:hover {
    background-color: transparent;
}

.button.is-expandable + .expandable-button-content {
    position: absolute;
    width: 242px;
    height: 53px;
    top: 0;
    right: 0;
    transform: scale(0);
    transition: transform .170s;
    background-color: white;
    z-index: 99;
}

.button.is-expanded {
    background-color: white;
    z-index: 99999;
}

.button.is-expanded + .expandable-button-content {
    transform: scale(1);
}

.button.is-expandable .active-area {
    position: absolute;
    right: 10px;
}

.button.is-expanded .active-area {
    top: 50% !important;
    margin-top: -5px;
    transform: translateY(-50%);
}

.button.is-expanded .content {
    height: 53px;
    padding-right: 40px;
    line-height: 43px;
}

.button .ripple-effect{
    position: absolute;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background: white;
    animation: ripple-animation 4s;
}


@keyframes ripple-animation {
    from {
        transform: scale(1);
        opacity: .4;
    }
    50% {
        transform: scale(50);
        opacity: .15;
    }
    to {
        transform: scale(100);
        opacity: 0;
    }
}

@media (max-width: 1000px) {
    .button.only-desktop {
        display: none !important;
    }
}